body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    color: white;
    font-size: 20px;
  }
  .content {
    margin-left: 200px;
    padding-left: 20px;
    font-size: 20px;
  }

  #myTable {
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    border-collapse: collapse;
    width: 80%;
  }

  #myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #myTable tr:nth-child(even){background-color: #f2f2f2;}

  #myTable tr:hover {background-color: #ddd;}

  #myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;

  }

  .button {
    background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .asc {
    display: none;
  }
  .desc {
   display: none ;
  }

.star-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

 .fa-star:hover {
  color: red;
 }
 .fa-star:hover ~ .fa-star{
  color: red;
 }
 .fa-star-selected {
  color: yellow;
 }
 .fa-star-selected ~ .fa-star{
  color: yellow;
 }

 #cancel {
   display: none;
 }
 #submitEdit {
   display: none;
 }